.bg-01{
    background: #e3eaea;
}
.border-top{
    border-top: solid 8px #3c70e2 !important;
}
.f-20{
    font-size: 20px;
}
.f-weight{
    font-weight: bold;
}

.error-input{
    border: solid 1px red
}
.error-msg{
    color:red
}
.close{
    position: absolute;
    left: 77%;
    top: 19%;
    font-size: 30px;
}


.form-control:disabled{
    cursor:not-allowed
}



.pop-up{
    background: white;
    min-width: 250px;
    min-height: 250px;
    max-width: fit-content;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    margin: auto;
}


